In [110]:
import pandas as pd

In [111]:
chipo = pd.read_csv ('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', header=0, delimiter="\t")

In [112]:
chipo = chipo[0:10]
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [113]:
len(chipo.columns) * 10

50

In [114]:
len(chipo.columns)

5

In [115]:
list(chipo.columns)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In [116]:
chipo.index

RangeIndex(start=0, stop=10, step=1)

In [117]:
chipo.groupby('item_name')['quantity'].sum().to_frame().reset_index().sort_values(by='quantity')

                               item_name  quantity
1           Chips and Fresh Tomato Salsa         1
2  Chips and Tomatillo-Green Chili Salsa         1
3                                   Izze         1
4                       Nantucket Nectar         1
5                          Side of Chips         1
7                       Steak Soft Tacos         1
6                          Steak Burrito         2
0                           Chicken Bowl         3

In [118]:
chipo.groupby('item_name')['quantity'].sum().max()

3

In [119]:
chipo.groupby('choice_description')['quantity'].sum().to_frame().reset_index().sort_values(by='quantity')

                                  choice_description  quantity
0                                            [Apple]         1
1                                       [Clementine]         1
2  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...         1
3  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...         1
4  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...         1
5  [Tomatillo Red Chili Salsa, [Fajita Vegetables...         1
6  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...         2

In [120]:
chipo.groupby('choice_description')['quantity'].sum().max()

2

In [121]:
print(chipo['item_price'].dtypes)

object

In [122]:
chipo['item_price'] = chipo['item_price'].str.replace(r'\D', '').astype(float)
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,239.0
1,1,1,Izze,[Clementine],339.0
2,1,1,Nantucket Nectar,[Apple],339.0
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,239.0
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",1698.0
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",1098.0
6,3,1,Side of Chips,NaN,169.0
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",1175.0
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",925.0
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",925.0

In [123]:
print(chipo['item_price'].dtypes)

float64

In [126]:
chipo.quantity.sum() * chipo.item_price.sum()

78606.0

In [127]:
chipo['order_id'].sum()

25

In [128]:
chipo.quantity.sum() * chipo.item_price.sum() / chipo['order_id'].sum()

3144.24

In [131]:
chipo.item_name.unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos'], dtype=object)